:root{
  --size: 85px;
  --tile: #dbf327;
  --correct: #b45050;
}
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

/* .App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  
} */
/* .App * {font-family: 'Pacifico', cursive;} */

body{
  background-image: url("https://wallpapercave.com/wp/wp4363424.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}